@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{margin:0;padding:0;font-size:62.5%;/*10px*/}
body,a,li,ol,ul,h1,h2,h3,h4,h5,h6,label,span,p,strong{font-size: 1.6rem;/*16px*/}
a{color:#333;text-decoration: none;}
li,ol,ul{list-style: none;margin: 0;color:#333;}
body{color:#333;font-family: "Montserrat", "pretendard", sans-serif;background-color: var(--bg-color);width: 100vw;overflow-x: hidden;}
.bodoni{font-family: "Bodoni Moda", serif;}
main{width:100%;}
/* intro */
.intro{position:fixed;z-index:1001;left:0;top:0;width:100%;height:100vh;
background-color:#000;transition: 1s;}
.intro .logo-header{position: relative;top:50%;left:50%;transform: translate(-50%,-50%);
color:#fff}
.intro .logo-header .logo{position: absolute;display:inline-block;text-align: center;z-index: 1002;
bottom:-20px;opacity: 0;font-size: 2.8rem;width: 100%;font-weight: 500;background-color: #000;}
.intro .logo-header .logo:nth-child(2){transition-delay: 0.3s;}
.intro .logo-header .logo:nth-child(3){transition-delay: 0.6s;}
.intro .logo-header .logo.active{bottom:0;opacity: 1;transition: ease-in-out 1s;}
.intro .logo-header .logo.fade{bottom:150px;opacity: 0;transition: ease-in-out 1s;}
/* nav */
nav{position: fixed;left:0px;top: 0px;z-index: 1000;background-color: #fff;
-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);background-color: hsla(0, 0%, 80%, 0.1) !important;
padding:15px 0px;width: 100%; height:50px;border-bottom: 1px solid #f9f9f9;
display: flex;justify-content: space-between;align-items: center;}
nav ul{margin-right: 5vw;}
nav li{display: inline;}
nav li a{display: inline-block;padding: 10px 25px;text-align: center;
line-height: 30px;font-size:2rem}
nav.white{color:#fff}
nav li a.white{color:#fff}
nav li a.active{color:#F38C25}
nav .logo{display: flex;justify-content: center;align-items: center;margin-left: 5vw;}
nav .logo .logo_txt{font-weight: 600;font-size:3rem;position: relative;}
nav .logo .logo_txt span{margin:0 -7px 0 0;display: inline-block;font-size: 2rem;}
nav .logo .logo_txt P{display: inline-block;letter-spacing: 1px;position: absolute;top: 25%;right:-85%;
padding:0 30px 0 0;font-size: 2rem;}
nav .logo .logo_txt P::after{content: "";background: url('../img/mimo.png')center center no-repeat;width: 30px;height:30px;position: absolute;
top: 0;left: calc(100% - 30px);background-size: contain;}
nav .logo .logo_txt span:nth-child(2){animation-delay: 0.1s;}
nav .logo .logo_txt span:nth-child(3){animation-delay: 0.15s;}
nav .logo .logo_txt span:nth-child(4){animation-delay: 0.2s;}
nav .logo .logo_txt span:nth-child(5){animation-delay: 0.25s;}
nav .logo .logo_txt span:nth-child(6){animation-delay: 0.3s;}
nav .logo .logo_txt span:nth-child(7){animation-delay: 0.35s;}
nav .logo .logo_txt span:nth-child(8){animation-delay: 0.4s;}
nav .logo .logo_txt span:nth-child(9){animation-delay: 0.45s;}
nav .logo .logo_txt span:nth-child(10){animation-delay: 0.5s;}
nav .logo .logo_txt span:nth-child(11){animation-delay: 0.55s;}
nav .logo .logo_txt span:nth-child(12){animation-delay: 0.6s;}
nav .logo .logo_txt span:nth-child(13){animation-delay: 0.65s;}
@keyframes slide{
  0%{transform: translateY(0%);opacity: 1;}
  100%{transform: translateY(100%);opacity: 0;}
}
@keyframes disappear{
  0%{transform: translateY(100%);opacity: 0;}
  100%{transform: translateY(0%);opacity: 1;}
}
@keyframes move{
  0%{transform: translateX(0%);}
  100%{transform: translateX(-155%);}
}
@keyframes return{
  0%{transform: translateX(-155%);}
  100%{transform: translateX(-0%);}
}
/* main */
.main{position: relative;height: 100vh;overflow-x: hidden;}
.main .main_box{position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);text-align: center;width: 100%;}
.main strong{font-size:17rem;font-weight: 900;margin:100px 0;display: block;}
.main p{line-height: 4.4rem;font-size:2.6rem;color:#333;margin-bottom: 20px;}
.main p strong{font-size:2.6rem;display: inline-block;margin:0;text-decoration: underline;font-weight: 600;}
.main span{color:#999;font-size: 2rem;}
.main .flow-text {display: flex;flex: 0 0 auto;white-space: nowrap;overflow: hidden;
transition: 0.3s;font-weight:900;color: #f3f3f3;position: absolute;
top:48%;transform: translateY(-50%);z-index: -1;}
.main .flow-wrap {animation: textLoop 20s linear infinite;padding-right: 1.5vw;font-size:17rem;}
@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
/* about */
#about{margin:0 5vw;display: flex;justify-content: space-around;align-items: flex-start;padding-top: 15vw;}
#about .img{overflow: hidden;width: 30%;}
#about .img img{width: 100%;object-fit: contain;}
#about .desc {width: 55%;}
#about .desc h3{font-size: 4.6rem;font-weight: 500;margin-bottom: 50px;}
#about .desc h3 strong{font-size: 4.6rem;font-weight: 700;}
#about .desc h4{font-size:2rem;font-weight: 400;line-height:3.2rem;word-break: keep-all;}
#about .desc h4 .pen{font-size:2rem;font-weight: 400;line-height:3.2rem;display: inline;background-color: #f38c25cb;color: #fff; padding: 2px 5px;border-radius: 5px;}
#about .desc a{display: inline-block;font-size:2rem;color:#333;font-weight: 500;margin-top:40px;position: relative;transition: 0.3s;}
#about .desc a::after{content:"";background-color: #333;border-radius: 50px;width:27px;height:27px;display:inline-block;
color:#fff;position: absolute;top:50%;left:105%;transform: translateY(-50%);transition: 0.3s;}
#about .desc a::before{content: "";width:7px;height: 7px;border-top:2px solid #fff;border-right:2px solid #fff;
position: absolute;top:50%;left:110%;transform: translateY(-50%)rotate(45deg);z-index: 1;}
#about .desc a:hover{color:#F38C25;margin-left: 20px;}
#about .desc a:hover::after{background-color:#F38C25;}
/* portfolio */
.item{ width: 1000px; margin: 5vw auto;text-align: left;margin-right: 15vw; position: relative;padding-top: 15vw;display: flex;}
.item:nth-child(even) {margin-left: 15vw;}
.item:nth-child(odd) .item_imgWrap{order:2}
.item:nth-child(odd) .item_textWrap .item_num {left: auto;right: 50vw;}
.item:nth-child(odd) .item_textWrap .item_title {left: auto;margin-right: 2vw;text-align: right;}
.item:nth-child(odd) .item_textWrap .item_desc {margin-left: auto;margin-right: 2vw;text-align: right;}
.item:nth-child(odd) .site_btn{margin-right: 2vw;margin-left: auto;}
.item_imgWrap {width: 100%;height:100%;padding-bottom: 60%;position: relative;overflow: hidden;}
.item_imgWrap .item_img {position: absolute;left: -5%;top: -5%;width: 110%;height: 110%;background-repeat: no-repeat;
background-position: center center;background-size: cover;filter: saturate(10%);transition: all 1s;}
.item:hover .item_img{filter: saturate(100%);transform: scale(1.025);}
.item_imgWrap .item_img:hover img{border-radius: 0px;}
.item_imgWrap .item_img img{width: 500px;height: 600px; object-fit: contain;object-position: center center;
position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);border-radius: 30px;transition: all 1s;}
.item_textWrap .item_num {font-size: 30rem;position: absolute;left: 50vw;bottom: 0vw;opacity: 0.07;font-weight: 700;}
.item_textWrap .item_title {font-weight: 400;margin-left: 0vw;color:#999;font-size: 1.6rem;}
.item_textWrap .item_title span{display: block;font-size: 1.6rem;}
.item_textWrap .item_desc {font-size: 4rem;line-height: 1.2;margin-top: 16vw;margin-left: 0vw;z-index: 100;
  position: relative;word-break: keep-all;font-weight: 600;}
.item_textWrap .item_desc span{display: block;font-size:2rem;margin-bottom: 10px;font-weight: 500;}
.site_btn{border:1px solid #333;margin-left:0vw;display: block;border-radius: 50px;position: relative;
overflow: hidden;width: 170px;height:55px;font-weight: 500;backdrop-filter: blur(3px);background-color: hsla(0, 0%, 90%, 0.1)}
.site_btn .inner{font-size:2rem;text-align: center;border-radius: 50px;width: 170px;
transition: 0.4s;transition-timing-function:ease;position: absolute;bottom:0;height: 55px;line-height: 55px;}
.site_btn .inner .label{font-size: 2rem;}
.site_btn .inner:nth-child(2) {background-color: #333;color: #fff;bottom: -100%;}
.site_btn:hover .inner:nth-child(2){transform: scaleY(1);bottom: 0;opacity: 1;}
.site_btn:hover .inner:nth-child(1){transform: scaleY(0);bottom:100%;opacity: 0;}
/* 스크롤 시 빠르게 움직이는 텍스트*/
.marquee{width: 100%;overflow-x: hidden;margin-top:25vw;color: #fff;background-color: #1e1d1c;}
.marquee .parallel {justify-content: center; align-items: center; display: flex;}
.marquee .parallel .parallel_item{font-size: 12rem;margin:0 50px;font-weight: 500;white-space: nowrap;}
/* contact */
#contact{background-color: #1e1d1c;color:#fff;padding: 5vw 0 2vw;}
#contact .contact_l{margin-left: 5vw;}
#contact .contact_l .tag_txt h5{font-size:3rem;font-weight: 400;}
#contact .contact_l .tag_txt h6{font-size:8rem;font-weight:400;color:#fff;margin:15px 0 50px;display: inline-block;}
#contact .contact_l .tag_txt p{font-size:2.2rem;font-weight: 400;line-height: 4rem;}
#contact .contact_l .tag_txt a{color:#F38C25;display: inline-block;font-size:2.2rem;font-weight: 500;margin-top:60px;position: relative;transition: 0.3s;}
#contact .contact_l .tag_txt a::after{content:"";background-color: #F38C25;border-radius: 50px;width:27px;height:27px;display:inline-block;
color:#fff;position: absolute;top:50%;left:110%;transform: translateY(-50%);transition: 0.3s;}
#contact .contact_l .tag_txt a::before{content: "";width:7px;height: 7px;border-top:2px solid #fff;border-right:2px solid #fff;
position: absolute;top:50%;left:117%;transform: translateY(-50%)rotate(45deg);z-index: 1;}
#contact .contact_l .tag_txt a:hover{color:#fff;margin-left: 20px;}
#contact .contact_l .tag_txt a:hover::before{border-top:2px solid #F38C25;border-right:2px solid #F38C25;}
#contact .contact_l .tag_txt a:hover::after{background-color:#fff;}
#contact .contact_l .tag_txt .site_btn{margin-left:0px;margin-top:50px;width:200px}
#contact .contact_l .tag_txt .site_btn .inner{width:200px}
#contact .contact_l .tag_txt .site_btn .inner:nth-child(2) {background-color: #fff;color: #333;}
#contact .contact_l .tag_txt .site_btn .inner:nth-child(1){color:#fff}
#contact .contact_r{margin:50px 5vw 0 0}
#contact .contact_r .study{display: flex;justify-content: right;}
#contact .contact_r .study li{margin:0 30px;}
#contact .contact_r .study li a{color:#aaa;font-size:2.2rem}
/* footer */
footer{padding:25px 0;background-color: #1e1d1c;border-top:1px solid #585858;width: 100%;border-bottom: 1px solid #585858;}
footer p{font-size:1.6rem;text-align: center;color:#fff}
/* media query */
@media (min-width: 768px) and (max-width: 1023px){
  body,a,li,ol,ul,h1,h2,h3,h4,h5,h6,label,span,p,strong{font-size: 1.4rem;}
  /* nav */
  nav li a{font-weight: 500;padding: 10px 10px;font-size:1.8rem}
  /* main */
  .main strong,.main .flow-wrap{font-size: 7.8rem;}
  .main p{font-size:2.4rem;}
  .main .flow-text{top:46%}
  /* about */
  #about{flex-direction: column;}
  #about .img{width: 100%;}
  #about .desc{margin-top:20px;width: 100%;} 
  #about .desc h3,#about .desc h3 strong{font-size:4rem;}
  #about .desc h4{font-size:2.2rem;word-break: keep-all;line-height: 5vw;}
  #about .desc a{font-size:2.2rem;}
  /*portfolio*/
  .item,.item:nth-child(even){width: 90vw;margin: 15vw auto;}
  .item>div{width: 80%;}
  .item:nth-child(even){margin-left: 0vw;}
  .item_imgWrap .item_img img{width: 100%;height: 100%;}
  .item .item_textWrap{margin: auto 0;}
  .item_textWrap .item_desc{font-size:3rem;margin-top: 20vw;}
  .item:nth-child(odd) .item_textWrap .item_desc{margin-right: 0vw}
  .item_textWrap .item_num,.item:nth-child(odd) .item_textWrap .item_num
  {left:auto;right:auto;font-size: 16rem;}
  .site_btn,.site_btn .inner{width: 150px;height: 50px;line-height: 50px;}
  .site_btn .inner .label{font-size: 1.8rem;}
  /* marquee */
  .marquee .parallel .parallel_item{font-size: 6rem;margin:0 30px}
  /* contact */
  #contact .contact_l .tag_txt h5{font-size: 2.6rem;}
  #contact .contact_l .tag_txt h6{font-size:5rem}
  #contact .contact_l .tag_txt p{line-height: 5vw;word-break: keep-all;}
  #contact .contact_r .study li{margin: 0 10px}
}
@media (min-width: 375px) and (max-width: 767px){
  *{font-size: 50%; /*8px*/ }
  body,a,li,ol,ul,h1,h2,h3,h4,h5,h6,label,span,p,strong{font-size: 1.2rem;}
  /* nav */
  nav .logo .logo_txt{width: 120px;}
  @keyframes move{
    0%{transform: translateX(0%);}
    100%{transform: translateX(-130%);}
  }
  @keyframes return{
    0%{transform: translateX(-130%);}
    100%{transform: translateX(-0%);}
  }
  nav ul{display: none;}
  /* main */
  .main{margin:0 5vw;}
  .main strong,.main .flow-wrap{font-size: 7rem;}
  .main p,.main p strong{font-size:2rem;line-height: 4rem;word-break: keep-all;}
  .main .flow-text{top:46%}
  /* about */
  #about{flex-direction: column;}
  #about .img{width: 100%;}
  #about .desc{margin-top:20px;width: 100%;} 
  #about .desc h3{margin-bottom:30px}
  #about .desc h3,#about .desc h3 strong{font-size:4rem;}
  #about .desc h4, #about .desc h4 .pen{font-size:2rem;word-break: keep-all;line-height: 5vw;}
  #about .desc a{font-size:2rem;}
  #about .desc a::before{width: 5px;height: 5px;}
  #about .desc a::after{width: 20px;height: 20px;}
  /*portfolio*/
  .item,.item:nth-child(even){width: 90vw;margin: 15vw auto;flex-wrap: wrap;}
  .item:nth-child(odd) .item_imgWrap{order:0!important;}
  .item:nth-child(odd) .site_btn{margin-right: 0vw;}
  .item:nth-child(even){margin-left: 0vw;}
  .item_imgWrap .item_img img{width: 100%;height: 100%;object-position: right;margin: auto 5vw;}
  .item:nth-child(even) .item_imgWrap .item_img img{object-position: left;}
  .item .item_textWrap{margin: auto 5vw;width: 100%;}
  .item_textWrap .item_desc{font-size:3rem;margin-top: 30vw;width: 60%}
  .item_textWrap .item_title{margin:0;}
  .item:nth-child(odd) .item_textWrap .item_desc{margin-right: 0vw}
  .item_textWrap .item_num,.item:nth-child(odd) .item_textWrap .item_num
  {right:auto;font-size: 16rem;}
  .site_btn,.site_btn .inner{width: 130px;height: 40px;line-height: 40px;}
  .site_btn .inner .label{font-size: 1.6rem;}
  /* marquee */
  .marquee .parallel .parallel_item{font-size: 6rem;margin:0 30px}
  /* contact */
  #contact{padding: 10vw 0 2vw;}
  #contact .contact_l .tag_txt h5{font-size: 2.6rem;}
  #contact .contact_l .tag_txt h6{font-size:4rem;margin: 15px 0 30px;}
  #contact .contact_r .study li{margin: 0 10px}
}
